/* estilos navar */
.navbar {
    width: 100%;
    background-color: var(--clr-primary);
    margin: 0;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 3em;
    padding: 0;
  }
  .navbar ul li {
    padding-right: 2em;
    font-weight: bold;
    color: var(--clr-white);
    cursor:pointer;
    transition: color 0.5s;
  }
  .navbar ul li:hover{
    color: var(--clr-black);
  }
  .navbar svg {
    fill: var(--clr-white);
    height: 1.5em;
    width: 1.5em;
  }
  .navbar li:first-child {
    margin-right: auto;
    margin-left: 2em;
  }