.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em,1fr));
    grid-gap: 1.5em;
  }

  .container {
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1em;
    border-top: 4px solid var(--clr-primary);
    transition: box-shadow 200ms ease-in;         
    cursor: pointer;
  }
  
  /* boton añadir receta */
  .plus_icon{
    width: 40%;
    fill: var(--clr-primary);
    margin: auto
  }
  .plus_container{
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--clr-background);
    transition: background-color 500ms ease-in;
  }

  .plus_container:hover{
    background-color: var(--clr-white);
    box-shadow: none;
  }
/* fin- boton añadir receta */