.modal{
    position: fixed;
    z-index: 111;
    top: 0;
    left:0;
    display: none;
    width: 100%;
    
}

.modal.is-open{
    display: flex;
}

.modal-close{
    width: 2em;
    left: 0;
    position: fixed;
    cursor: pointer;
    background-color: var(--clr-background);
    border: solid 1px var(--clr-primary);
    border-radius: 0.2em;
    color: var(--clr-primary);
    transition: border-color 200ms ease-in;
    transition: color 200ms ease-in;
}

.modal-close:hover{
    color: white;
    border-color: white;
}

.modal-container{
    width: 100%;
    background-color: #3f4d71d1;
    padding: 0em 2em 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal a{
    color: white;
}
.modal a:hover{
    color: var(--clr-primary);
}